{{!-- <!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <link rel="stylesheet" href="site/css/style.css">
    </head>
    <body> --}}

{{!-- ================================================================================== --}}
        <!-- What does a templating engine does?? 
         Well, when you run your Express server, the templating engine replaces variables 
         marked with our curly braces, with their actual values that came from the node 
         Server and it transforms that document, which we call a template(), into an HTML file
         to be rendered by the browser.

         => It allows us to populate our HTML with data before it's sent to the client/
         to be shown to the user.

         To use one of these templating engines, we need to install the corresponding npm package.
         for example, to install Handlebars, we're
          -->
         
        <h1>{{caption}}</h1>
        <!-- To be clear, This file is no longer pure HTML. It needs to be rendered by 
         Handlebars before we get the page that should be rendered by the browser. -->
        <img src="site/images/skimountain.jpeg" alt="Ski mountain"> 
        {{!-- Added site cze in server, these static files are loading under site path --}}


        
{{!-- ======================================================================================= --}}

    {{!-- </body>
</html> --}}

<!-- We are serving this HTML to the browser, What if we want this html to be more dynamic 
 by populating the content and potentially even the layout based on some state in the server.

 After all, a lot of the power of sending HTML and other views from the server comes from 
 the possibility of making them more dynamic.

 We can determine the contents based on some data that lives in the server.

 To do this, we can use Express's excellent support for templating engines (Handlebars)
 -->

 {{!-- With all set, we are now readky to server our Handlebars template --}}